/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20%;
}
.footer {
  position: absolute;
  width: 75%;
  /* Set the fixed height of the footer here */
  height: 90px;
  padding-top: 0%;
  background-color: #ffffff;
  bottom: -150px;
  padding: 0;
  right: -0.49999px;
  }
