.body{
  color:gray;
    font-family:century gothic;
}

.header{
  margin:auto;
  width:100%;
  height:600%;
   font-size:600%;
   font-family:century gothic;
   float:right;
    letter-spacing:10px;
    text-indent:27.5%;
    text-transform:uppercase;
      color:#404b51;
}

.photoheader{
  margin:auto;
  width:98%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
    float:right;
      letter-spacing:10px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.blogheader{
  margin:auto;
  width:50%;
  height:600%;
    font-size:500%;
    font-family:century gothic;
      letter-spacing:2px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.healthheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:8px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.perspectiveheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:8px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.contactheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.aboutheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.musicheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.vlogsheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.portraitsheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.travelheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.weddingsheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.projectsheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.ggcheader{
  margin:auto;
  width:70%;
  height:600%;
    font-size:600%;
    font-family:century gothic;
      letter-spacing:4px;
      text-align:center;
      text-transform:uppercase;
        color:#404b51;
}

.menu{
  margin:auto;
  width:12%;
  height:60%;
  padding:2%;
    font-size:100%;
    font-family:century gothic;
    float:left;
      text-transform:uppercase;
      text-indent:5%;
      text-align:center;
      letter-spacing:1%;
      word-spacing:2%;
        color:gray;
        background-color:transparent;
}

.menu div{
  display:none;
}

.menu:hover{
  color:#404b51;
}

.menu:hover div{
  display:block;
  top:10%;
  width:20%;
    position:absolute;
      background-color:white;
}

a:link{
  color:#404b51;
    text-decoration:none;
}

a:visited{
  color:gray;
}

a:hover{
  color:#d26798;
}

a:active{
  color:#d26798;
}

.photoslider{
  margin:auto;
  width:90%;
  height:550px;
      font-family:century gothic;
      font-size:20px;
        letter-spacing:2px;
}

.homecontent{
  margin:auto;
  width:90%;
  height:1000px;
}

.footer{
  margin:auto;
  width:100%;
    font-size:10px;
      text-transform:uppercase;
}

.about{
  margin:auto;
  width:70%;
  height:100px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.photofeed{
  margin:auto;
  width:90%;
  height:1000px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.videofeed{
  margin:auto;
  width:90%;
  height:1000px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.blog{
  margin:auto;
  width:90%;
  height:1000px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.contact{
  margin:auto;
  width:70%;
  height:1100px;
    font-family:century gothic;
    font-size:120%;
      color:#404b51;
}

.email{
  margin:auto;
    font-family:century gothic;
    font-size:130%;
    font-weight:bold;
      color:#404b51;
      letter-spacing:4px;
      text-transform:uppercase;
}

.subheadspacing{
  margin:auto;
    font-family:century gothic;
    font-size:70%;
    font-style:italic;
      color:#404b51;
      letter-spacing:5px;
        text-transform:uppercase;
}

.formtitles{
  margin:auto;
    font-family:century gothic;
    font-size:70%;
    font-style:italic;
      color:#404b51;
        letter-spacing:5px;
          text-transform:uppercase;
}

.blogtitle{
  margin:auto;
  width:20%;
  height:30px;
  float:left;
    font-family:century gothic;
    font-size:20px;
      color:white;
      background-color:#d26798;

        text-transform:uppercase;
        text-align:center;
}

.blogcontent{
  margin:auto;
  width:30%;
  height:200px;
  float:left;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
        border:2px #d26798 solid;
}

.readmore{
  margin:auto;
  width:26%;
  height:20px;
  bottom:100px;
  float:right;
    font-family:century gothic;
    font-size:15px;
      color:white;
      background-color:#d26798;
        text-align:center;
}


.archive{
  margin:auto;
  width:10%;
  height:200px;
  float:right;  
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.photographycontent{
  margin:auto;
  width:10%;
  height:800px;
    font-family:century gothic;
    font-size:15px;
}

.videos{
  margin:auto;
  width:10%;
  height:800px;
    font-family:century gothic;
    font-size:15px;
}

.aboutphoto{
  margin:auto;
  width:75%;
  height:100%;
    font-family:century gothic;
    font-size:120%;
    letter-spacing:0.5px;
    word-spacing:-1px;
}

.lca{
  margin:auto;
  width:100%;
  height:100%;
    font-family:century gothic;
    font-size:300%;
    font-weight:lighter;
      text-align:center;
      letter-spacing:5px;
      text-transform:uppercase;
}

.subheading{
  margin:auto;
  width:100%;
  height:100%;
    font-family:century gothic;
    font-size:190%;
    font-style:italic;
      text-align:left;
      letter-spacing:2px;
      text-transform:uppercase;
      
}

.subsubheading{
  margin:auto;
  width:100%;
  height:100%;
    font-family:century gothic;
    font-size:100%;
    font-weight:bold;
      text-align:left;
      letter-spacing:3px;
      text-transform:uppercase;
}

.subsubsubheading{
  margin:auto;
  width:100%;
  height:100%;
    font-family:century gothic;
    font-size:90%;
      text-align:left;
      letter-spacing:3px;
      text-transform:uppercase;
}

.caption{
  margin:auto;
  width:60%;
  height:100%;
    font-family:century gothic;
    font-size:250%;
      text-align:center;
      letter-spacing:5px;
      text-transform:uppercase;
}

.socialmedialinks{
  margin:auto;
    font-family:century gothic;
    font-size:80%;
      letter-spacing:5px;
      text-transform:uppercase;
}