.body{
  color:black;
    font-family:century gothic;
}

.header{
  margin:auto;
  width:51%;
  height:150px;
   font-size:90px;
   font-family:century gothic;
    letter-spacing:10px;
    text-indent:50px;
    text-transform:uppercase;
      color:#404b51;
}

.menu{
  margin:20px;
  width:176px;
  padding:2px;
  float:left;
    font-size:15px;
    font-family:century gothic;
    font-weight:bold;
      text-transform:uppercase;
      letter-spacing:3px;
      text-align:center;
      text-decoration:none;
        color:#404b51;
        background-color:transparent;
}

.menu div{
  display:none;
}

.menu:hover{
  color:#404b51;
}

.menu:hover div{
  display:block;
  top:50px;
  width:255px;
    position:absolute;
      background-color:white;
}

a:link{
  color:#404b51;
    text-decoration:none;
}

a:visited{
  color:#ab567d;
}

a:hover{
  color:#d26798;
}

a:active{
  color:#404b51;
}

.photoslider{
  margin:auto;
  width:90%;
  height:550px;
    border:1px #404b51 solid;
      font-family:century gothic;
      font-size:20px;
        letter-spacing:2px;
}

.homecontent{
  margin:auto;
  width:90%;
  height:1000px;
    border:1px #404b51 solid;
}

.igfeed{
  margin:auto;
  width:90%;
  height:190px;
    border:1px #404b51 solid;
      font-family:century gothic;
      font-size:20px;
}

.footer{
  margin:auto;
  width:100%;
    font-size:10px;
      text-transform:uppercase;
}

.about{
  margin:auto;
  width:80%;
  height:600px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.photofeed{
  margin:auto;
  width:90%;
  height:1000px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.videofeed{
  margin:auto;
  width:90%;
  height:1000px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.blog{
  margin:auto;
  width:90%;
  height:1000px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.contact{
  margin:auto;
  width:90%;
  height:800px;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}

.blogtitle{
  margin:auto;
  width:20%;
  height:30px;
  float:left;
    font-family:century gothic;
    font-size:20px;
      color:white;
      background-color:#d26798;

        text-transform:uppercase;
        text-align:center;
}

.blogcontent{
  margin:auto;
  width:30%;
  height:200px;
  float:left;
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
        border:2px #d26798 solid;
}

.readmore{
  margin:auto;
  width:26%;
  height:20px;
  bottom:100px;
  float:right;
    font-family:century gothic;
    font-size:15px;
      color:white;
      background-color:#d26798;
        text-align:center;
}


.archive{
  margin:auto;
  width:10%;
  height:200px;
  float:right;  
    font-family:century gothic;
    font-size:15px;
      color:#404b51;
}
