a:link, a:visited{
color: #ffffff;
background-color:auto;
text-decoration: none;
}

a:hover{
color:#46bfbd;
}

a:active{
color:#fff;
}

A.links2 {color:#fff;}
A.links2:link {text-decoration: none; color: #fff;}
A.links2:visited {text-decoration: none; color: #fff;}
A.links2:hover {text-decoration: none; color: #46bfbd;}
A.links2:active {text-decoration: none; color: #fff;}

A.links3 {color:#fff;}
A.links3:link {text-decoration: underline; color: #fff;}
A.links3:visited {text-decoration: none; color: #fff;}
A.links3:hover {text-decoration: none; color: #46bfbd;}
A.links3:active {text-decoration: none; color: #fff;}

A.links4 {color:#46bfbd;}
A.links4:link{text-decoration: none; color:#46bfbd;}
A.links4:visited{text-decoration:none; color:#46bfbd;}
A.links4:hover{text-decoration:none; color: #46bfbd;}
A.links4:active{text-decoration:none;color:#46bfbd;}

A.links5 {color:#fff;}
A.links5:link{text-decoration: none; color: #fff;}
A.links5:visited{text-decoration:none; color:#fff;}
A.links5:hover{text-decoration:none; color:#fff;}
A.links5:active{text-decoration:none; color:#fff;}