/* STICKY FOOTER STYLINGS */
html {
  position: relative;
  min-height: 100%;
}

/* Margin Bottom by Footer Height */
body {
  margin-bottom: 0%;
}

.sticky-bottom {
  position: absolute;
  width: 102%;
  height: 200px;
  padding-top: 2%;
  background-color: #000;
  bottom: -240px;
  padding: 1 1 1 1;
  right: -0.49999px;
  border-top: 1px solid #d3d3d3;
  font-family: 'Oswald', sans-serif, arial;
  font-size: 150%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  }