/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20%;
}
.footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  padding-top: 3%;
  background-color: #222222;
  z-index: 9999;
  bottom: 0px;
  right: 1px;
  padding: 1 1 1 1;
  }
