/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 2%;
}
.footer {
  position: absolute;
  width: 98%;
  /* Set the fixed height of the footer here */
  height: 30px;
  padding-top: 5%;
}